/*Font import*/

@import "_font.scss";
@include font-face(futur, "../fonts/Clip");
@include font-face(quicksand, "../fonts/Quicksand-Regular");
@include font-face(poiret, "../fonts/PoiretOne-Regular");

/*Color variable*/

$bgColor: #16161D;
$welcomeColor: rgba(214, 201, 201, 1);
$welcomeColorNeon:#BFB0B0;
$presentationColor: #FE4F00;
$presentationColorNeon: rgba(255, 146, 97, 0.4);
$presentationColorText: #FF9261;
$realisationColor: #D9A4FC;
$realisationColorNeon: rgba(229, 194, 252, 0.4);
$projectsColor: #FE003E;
$projectsColorNeon: rgba(254, 142, 170, 0.4);
$contactColor: #FFB41D;
$contactColorNeon: rgba(255, 202, 94, 0.4);

/*** Keyframes ***/


@keyframes draw {
        to {
                stroke-dashoffset: 0;
        }
}

@keyframes show {

        0% {
                opacity: 0;
                stroke: $welcomeColor;

        }
        25% { opacity: .2; }
        50% { opacity: .5;}
        75% { opacity: .8; }
        100% {
                opacity: 0.9;
                stroke: $welcomeColor;
        }

}

@keyframes welcomeFlash {

        0% {
                opacity: .1;
                box-shadow: 0 0 30px $welcomeColorNeon, inset 0 0 30px $welcomeColorNeon;
                text-shadow: 0 0 80px $welcomeColorNeon;
        }
        4% { opacity: 1; }
        8% { opacity: .4; }
        12% { opacity: .1; }
        16% { opacity: .5; }
        20% { opacity: 1; }
        24% { opacity: .4; }
        28% { opacity: .1; }
        32% { opacity: .6; }
        36% { opacity: 1; }
        40% { opacity: .7; }
        44% { opacity: .2; }
        48% { opacity: .1; }
        52% { opacity: .4; }
        56% { opacity: .9; }
        60% { opacity: .2; }
        64% { opacity: 1; }
        68% { opacity: .4; }
        72% { opacity: .1; }
        76% { opacity: .5; }
        80% { opacity: .7; }
        84% { opacity: .9; }
        88% { opacity: .6; }
        92% { opacity: .8; }
        96% { opacity: .2; }
        100% {
                opacity: 0.9;
                box-shadow: 0 0 30px $welcomeColorNeon, inset 0 0 30px $welcomeColorNeon;
                text-shadow: 0 0 80px $welcomeColorNeon;
        }

}

@keyframes flash {

        0% { opacity: .1; }
        4% { opacity: 1; }
        8% { opacity: .4; }
        12% { opacity: .1; }
        16% { opacity: .5; }
        20% { opacity: 1; }
        24% { opacity: .4; }
        28% { opacity: .1; }
        32% { opacity: .6; }
        36% { opacity: 1; }
        40% { opacity: .7; }
        44% { opacity: .2; }
        48% { opacity: .1; }
        52% { opacity: .4; }
        56% { opacity: .9; }
        60% { opacity: .2; }
        64% { opacity: 1; }
        68% { opacity: .4; }
        72% { opacity: .1; }
        76% { opacity: .5; }
        80% { opacity: .7; }
        84% { opacity: .9; }
        88% { opacity: .6; }
        92% { opacity: .8; }
        96% { opacity: .2; }
        100% { opacity: 0.9; }

}

@keyframes fadeOutAuto {

        0% { opacity: 0; }
        25% { opacity: 0.25; }
        50% { opacity: 0.5; }
        75% { opacity: 0.75; }
        100% { opacity: 0.9 }

}

/***** Utilities class *****/

.hidden{

        visibility: hidden;

}

/****** Général******/

* {

        box-sizing: border-box;
        transition: all 0.3s linear 0s;

}

html {

        font-size: 62.5%;

}

body {

        background-image: url("../img/burried.png");
        margin: 0 auto;

}

text {

        text-anchor: middle;

}

a {

        text-decoration: none;

}

/*Welcome Page*/

.mainWelcome {

        section {

                text-align: center;
                width: 45%;
                margin-top: 30vh;
                margin-left: 28vw;
                animation: welcomeFlash 2s linear 5s forwards;

                @media screen and (max-width: 1025px) {

                        width: 70%;
                        margin-left: 16vw;
                        margin-top: 35vh;

                }

                path {

                        stroke: $welcomeColor;
                        stroke-width: 2px;
                        fill-opacity: 0;
                        fill: none;
                        stroke-dasharray: 2600;
                        stroke-dashoffset: 2600;
                        animation-direction: normal;
                        animation: draw 5s linear forwards;

                }

                text{

                        fill: $bgColor;
                        font-family: "futur";
                        font-size: 4rem;
                        animation: show 2s linear 5s forwards;

                }

        }

}

/*Home Page*/

.mainHome {

        /*Flex for section*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (orientation: portrait){

                flex-direction: column;

        }

        @media screen and (max-width: 1025px) and (min-width: 640px) and (orientation: landscape){

                margin-top: 10vh;

        }

        section{

                margin: 30px;

                @media screen and (max-width: 1025px) and (orientation: portrait){

                        margin-left: 15vw;
                        width: 150%;

                }

        }

        /*Global property for the path SVG*/
        path {

                stroke-width: 2px;
                fill-opacity: 0;
                fill: none;
                stroke-dasharray: 2520;
                stroke-dashoffset: 2520;
                animation-direction: normal;
                animation: draw 5s linear forwards;

        }

        /*Global property for text SVG*/
        text{

                font-family: "futur";
                font-size: 4rem;

                @media screen and (min-width: 1025px){

                        fill: $bgColor;

                }

        }

        /*Presentation Section*/
        >:first-child{

                width: 45%;

                path {

                        stroke: $presentationColor;

                }

                >:hover{

                        box-shadow: 0 0 30px $presentationColorNeon, inset 0 0 30px $presentationColorNeon;
                        text-shadow: 0 0 80px $presentationColorNeon;

                        animation: flash 1s linear forwards;

                        text{

                                fill: $presentationColorText;

                        }



                }

                @media screen and (max-width: 1025px){

                        text {

                                fill: $presentationColor;

                        }

                }


        }

        /*Realisation Section*/
        >:nth-child(2){

                width: 45%;

                path{

                        stroke: $realisationColor;

                }

                >:hover {

                        box-shadow: 0 0 30px $realisationColorNeon, inset 0 0 30px $realisationColorNeon;
                        text-shadow: 0 0 50px $realisationColorNeon;

                        animation: flash 1s linear forwards;

                        text {

                                fill: $realisationColor;

                        }

                }

                @media screen and (max-width: 1025px){

                        text {

                                fill: $realisationColor;

                        }

                }

        }

        /*Project section*/
        >:nth-child(3){

                width: 45%;

                path{

                        stroke: $projectsColor;

                }

                >:hover{

                        box-shadow: 0 0 30px $projectsColorNeon, inset 0 0 30px $projectsColorNeon;
                        text-shadow: 0 0 50px $projectsColorNeon;

                        animation: flash 1s linear forwards;

                        text{

                                fill: $projectsColor;

                        }

                }

                @media screen and (max-width: 1025px){

                        text {

                                fill: $projectsColor;

                        }

                }

        }

        /*Contact Section*/
        >:last-child{

                width: 45%;

                path{

                        stroke: $contactColor;

                }

                >:hover{

                        box-shadow: 0 0 30px $contactColorNeon, inset 0 0 30px $contactColorNeon;
                        text-shadow: 0 0 50px $contactColorNeon;

                        animation: flash 1s linear forwards;

                        text{

                                fill: $contactColor;

                        }

                }

                @media screen and (max-width: 1025px){

                        text {

                                fill: $contactColor;

                        }

                }

        }

}

/*Global of Presentation, Contact, Realisation and Project*/

.mainPresentation, .mainContact, .mainRealisation, .mainProject {

        section {

                margin-left: 5vw;
                margin-top: 5vh;
                width: 90%;

                svg {

                        path, circle {

                                stroke-width: 2px;
                                fill-opacity: 0;
                                fill: none;

                        }

                        circle {

                                opacity: 0;
                                animation-direction: normal;
                                animation: fadeOutAuto 5s linear 2s forwards, draw 5s linear 3s forwards;

                        }

                        >:first-child {

                                stroke-dasharray: 4500;
                                stroke-dashoffset: 4500;
                                animation-direction: normal;
                                animation: draw 8s linear forwards;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        stroke-dasharray: 7160;
                                        stroke-dashoffset: 7160;
                                        animation-direction: normal;
                                        animation: draw 6s linear forwards;

                                }


                        }

                        >:nth-child(2) {

                                opacity: 0;
                                font-family: "futur";
                                font-size: 3rem;
                                animation: fadeOutAuto 5s linear 5s forwards;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        font-size: 5rem;

                                }

                        }

                        a {

                                opacity: 0;
                                animation: fadeOutAuto 5s linear 5s forwards;


                        }

                }

        }

}

/*Presentation page*/

.mainPresentation{

        section {

                svg {

                        path, circle, text{

                                stroke: $presentationColor;

                        }

                        .languages {

                                opacity: 0;
                                font-family: "quicksand";
                                font-size: 2.5rem;
                                animation: fadeOutAuto 5s linear 6s forwards;


                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        font-size: 3.5rem;

                                }

                        }

                        circle:nth-of-type(1){

                                stroke-dasharray: 453;
                                stroke-dashoffset: 453;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        stroke-dasharray: 754;
                                        stroke-dashoffset: 754;

                                }

                        }

                        circle:nth-of-type(2){

                                stroke-dasharray: 396;
                                stroke-dashoffset: 396;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        stroke-dasharray: 660;
                                        stroke-dashoffset: 660;

                                }

                        }

                        circle:nth-of-type(3){

                                stroke-dasharray: 340;
                                stroke-dashoffset: 340;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        stroke-dasharray: 550;
                                        stroke-dashoffset: 550;

                                }

                        }

                        circle:nth-of-type(4){

                                stroke-dasharray: 283;
                                stroke-dashoffset: 283;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        stroke-dasharray: 480;
                                        stroke-dashoffset: 480;

                                }

                        }

                        circle:nth-of-type(5){

                                stroke-dasharray: 283;
                                stroke-dashoffset: 283;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        stroke-dasharray: 480;
                                        stroke-dashoffset: 480;

                                }

                        }

                        >path:nth-of-type(2) {

                                opacity: 0;
                                stroke-dasharray: 1540;
                                stroke-dashoffset: 1540;
                                animation-direction: normal;
                                animation: fadeOutAuto 5s linear 5s forwards, draw 4s linear 8s forwards;

                        }

                        >path:nth-of-type(3) {

                                opacity: 0;
                                stroke-dasharray: 450;
                                stroke-dashoffset: 450;
                                animation-direction: normal;
                                animation: fadeOutAuto 5s linear 5s forwards, draw 2s linear 10s forwards;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        stroke-dasharray: 1540;
                                        stroke-dashoffset: 1540;

                                }

                        }

                        .textTitlePresentation {

                                font-size: 3rem;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        font-size: 4.5rem;

                                }

                        }

                        .textPresentation {

                                font-size: 2rem;
                                text-anchor: start;

                                @media screen and (max-width: 1025px) and (orientation: portrait){

                                        font-size: 3.5rem;
                                        text-anchor: middle;

                                }

                        }

                        >:nth-last-child(-n+11){

                                font-family: "poiret";
                                opacity: 0;
                                animation: fadeOutAuto 5s linear 11s forwards;

                        }

                }

        }

}

/*Contact page*/

.mainContact{

        section {

                svg {

                        path, circle, text{

                                stroke: $contactColor;

                        }

                        image {

                                fill: $contactColor;

                        }

                        >text:nth-of-type(2), >text:nth-of-type(3){

                                font-size: 2rem;
                                font-family:"poiret";
                                opacity: 0;

                        }

                }

                article {

                        text-align: center;

                        p {

                                font-family: "poiret";
                                font-size: 2rem;
                                color: $contactColor;

                        }

                        form {

                                margin-top: 5vh;
                                margin-left: 14vw;
                                width: 70%;
                                opacity: 0;
                                display : flex;
                                flex-direction: column;
                                animation: fadeOutAuto 5s linear 5s forwards;

                                @media screen and (max-width: 1600px){

                                width: 80%

                                }


                                textarea {

                                        resize:vertical;

                                }

                                input, textarea, button, label {

                                        margin: 10px;

                                }


                                label, button  {

                                        color: $contactColor;
                                        font-family: "poiret";
                                        font-size: 2rem;

                                }

                                input, textarea, button {

                                        background-color: rgba(255, 255, 255, 0);
                                        border: 1px solid $contactColor;
                                        font-family: "poiret";
                                        font-size: 2rem;

                                }

                                input, textarea {

                                        color: white;

                                }

                                button{

                                        color: $contactColor;
                                        padding: 5px;

                                }

                        }

                }

        }

}

/* Realisation page */

.mainRealisation {

        :first-child {

                svg {

                        path, circle, text{

                                stroke: $realisationColor;

                        }

                        a:nth-of-type(2), a:nth-of-type(3){

                                opacity: 0;
                                font-family: "poiret";
                                font-size: 2rem;
                                animation: fadeOutAuto 5s linear 5s forwards;

                        }

                }

        }

        :last-child {

                p {

                        font-family: "poiret";
                        font-size: 2rem;
                        color: $realisationColor;
                        opacity: 0;
                        animation: fadeOutAuto 2s linear 1s forwards;

                }

                article {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        border: 1px dashed $realisationColor;
                        padding: 10px;
                        opacity: 0;
                        animation: fadeOutAuto 3s linear 1s forwards;


                        img {

                                width: 50%;

                        }

                }

        }

}

/* Project Page */

.mainProject {

        section {

                svg {

                        path, circle, text{

                                stroke: $projectsColor;

                        }

                        a:nth-of-type(2), a:nth-of-type(3){

                                opacity: 0;
                                font-family: "poiret";
                                font-size: 2rem;
                                animation: fadeOutAuto 5s linear 5s forwards;

                        }

                }

        }

        :last-child {

                p {

                        font-family: "poiret";
                        font-size: 2rem;
                        color: $projectsColor;
                        opacity: 0;
                        animation: fadeOutAuto 3s linear 1s forwards;
                }


        }

}


/******************* Admin ***********************/

.mainAdmin {

        label, input:nth-of-type(3) {

                color: $realisationColor;

        }

        li {

                color: $contactColor;
                font-size: 1.5rem;
                list-style-type: none;

        }

}
