@charset "UTF-8";
/*Font import*/
@font-face {
  font-family: "futur";
  src: url("../fonts/Clip.eot?") format("eot"), url("../fonts/Clip.woff2") format("woff2"), url("../fonts/Clip.woff") format("woff"), url("../fonts/Clip.ttf") format("truetype"), url("../fonts/Clip.svg#futur") format("svg"); }
@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-Regular.eot?") format("eot"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype"), url("../fonts/Quicksand-Regular.svg#quicksand") format("svg"); }
@font-face {
  font-family: "poiret";
  src: url("../fonts/PoiretOne-Regular.eot?") format("eot"), url("../fonts/PoiretOne-Regular.woff2") format("woff2"), url("../fonts/PoiretOne-Regular.woff") format("woff"), url("../fonts/PoiretOne-Regular.ttf") format("truetype"), url("../fonts/PoiretOne-Regular.svg#poiret") format("svg"); }
/*Color variable*/
/*** Keyframes ***/
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes show {
  0% {
    opacity: 0;
    stroke: #d6c9c9; }
  25% {
    opacity: .2; }
  50% {
    opacity: .5; }
  75% {
    opacity: .8; }
  100% {
    opacity: 0.9;
    stroke: #d6c9c9; } }
@keyframes welcomeFlash {
  0% {
    opacity: .1;
    box-shadow: 0 0 30px #BFB0B0, inset 0 0 30px #BFB0B0;
    text-shadow: 0 0 80px #BFB0B0; }
  4% {
    opacity: 1; }
  8% {
    opacity: .4; }
  12% {
    opacity: .1; }
  16% {
    opacity: .5; }
  20% {
    opacity: 1; }
  24% {
    opacity: .4; }
  28% {
    opacity: .1; }
  32% {
    opacity: .6; }
  36% {
    opacity: 1; }
  40% {
    opacity: .7; }
  44% {
    opacity: .2; }
  48% {
    opacity: .1; }
  52% {
    opacity: .4; }
  56% {
    opacity: .9; }
  60% {
    opacity: .2; }
  64% {
    opacity: 1; }
  68% {
    opacity: .4; }
  72% {
    opacity: .1; }
  76% {
    opacity: .5; }
  80% {
    opacity: .7; }
  84% {
    opacity: .9; }
  88% {
    opacity: .6; }
  92% {
    opacity: .8; }
  96% {
    opacity: .2; }
  100% {
    opacity: 0.9;
    box-shadow: 0 0 30px #BFB0B0, inset 0 0 30px #BFB0B0;
    text-shadow: 0 0 80px #BFB0B0; } }
@keyframes flash {
  0% {
    opacity: .1; }
  4% {
    opacity: 1; }
  8% {
    opacity: .4; }
  12% {
    opacity: .1; }
  16% {
    opacity: .5; }
  20% {
    opacity: 1; }
  24% {
    opacity: .4; }
  28% {
    opacity: .1; }
  32% {
    opacity: .6; }
  36% {
    opacity: 1; }
  40% {
    opacity: .7; }
  44% {
    opacity: .2; }
  48% {
    opacity: .1; }
  52% {
    opacity: .4; }
  56% {
    opacity: .9; }
  60% {
    opacity: .2; }
  64% {
    opacity: 1; }
  68% {
    opacity: .4; }
  72% {
    opacity: .1; }
  76% {
    opacity: .5; }
  80% {
    opacity: .7; }
  84% {
    opacity: .9; }
  88% {
    opacity: .6; }
  92% {
    opacity: .8; }
  96% {
    opacity: .2; }
  100% {
    opacity: 0.9; } }
@keyframes fadeOutAuto {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 0.9; } }
@keyframes credit {
  0% {
    top: 100%;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    20% {
      top: 20%; }
    opacity: 1; } }
/****** G├®n├®ral******/
* {
  box-sizing: border-box;
  transition: all 0.3s linear 0s; }

html {
  font-size: 62.5%; }

body {
  background-image: url("../img/burried.png");
  margin: 0 auto; }

text {
  text-anchor: middle; }

a {
  text-decoration: none; }

/*Welcome Page*/
.mainWelcome section {
  text-align: center;
  width: 45%;
  margin-top: 30vh;
  margin-left: 28vw;
  animation: welcomeFlash 2s linear 5s forwards; }
.mainWelcome path {
  stroke: #d6c9c9;
  stroke-width: 2px;
  fill-opacity: 0;
  fill: none;
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  animation-direction: normal;
  animation: draw 5s linear forwards; }
.mainWelcome text {
  fill: #16161D;
  font-family: "futur";
  font-size: 4rem;
  animation: show 2s linear 5s forwards; }

/*Home Page*/
.mainHome {
  /*Flex for section*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*Global property for the path SVG*/
  /*Global property for text SVG*/
  /*Presentation Section*/
  /*Realisation Section*/
  /*Project section*/
  /*Contact Section*/ }
  .mainHome section {
    margin: 30px; }
  .mainHome path {
    stroke-width: 2px;
    fill-opacity: 0;
    fill: none;
    stroke-dasharray: 2520;
    stroke-dashoffset: 2520;
    animation-direction: normal;
    animation: draw 5s linear forwards; }
  .mainHome text {
    font-family: "futur";
    font-size: 4rem;
    fill: black; }
  .mainHome > :first-child {
    width: 45%; }
    .mainHome > :first-child path {
      stroke: #FE4F00; }
    .mainHome > :first-child > :hover {
      box-shadow: 0 0 30px rgba(255, 146, 97, 0.4), inset 0 0 30px rgba(255, 146, 97, 0.4);
      text-shadow: 0 0 80px rgba(255, 146, 97, 0.4);
      animation: flash 0.8s linear forwards; }
      .mainHome > :first-child > :hover text {
        fill: #FF9261; }
  .mainHome > :nth-child(2) {
    width: 45%; }
    .mainHome > :nth-child(2) path {
      stroke: #D9A4FC; }
    .mainHome > :nth-child(2) > :hover {
      box-shadow: 0 0 30px rgba(229, 194, 252, 0.4), inset 0 0 30px rgba(229, 194, 252, 0.4);
      text-shadow: 0 0 50px rgba(229, 194, 252, 0.4);
      animation: flash 0.8s linear forwards; }
      .mainHome > :nth-child(2) > :hover text {
        fill: #D9A4FC; }
  .mainHome > :nth-child(3) {
    width: 45%; }
    .mainHome > :nth-child(3) path {
      stroke: #FE003E; }
    .mainHome > :nth-child(3) > :hover {
      box-shadow: 0 0 30px rgba(254, 142, 170, 0.4), inset 0 0 30px rgba(254, 142, 170, 0.4);
      text-shadow: 0 0 50px rgba(254, 142, 170, 0.4);
      animation: flash 0.8s linear forwards; }
      .mainHome > :nth-child(3) > :hover text {
        fill: #FE003E; }
  .mainHome > :last-child {
    width: 45%; }
    .mainHome > :last-child path {
      stroke: #FFB41D; }
    .mainHome > :last-child > :hover {
      box-shadow: 0 0 30px rgba(255, 202, 94, 0.4), inset 0 0 30px rgba(255, 202, 94, 0.4);
      text-shadow: 0 0 50px rgba(255, 202, 94, 0.4);
      animation: flash 0.8s linear forwards; }
      .mainHome > :last-child > :hover text {
        fill: #FFB41D; }

/*Global of Presentation, Contact, Realisation and Project*/
.mainPresentation section, .mainContact section, .mainRealisation section {
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90%; }
  .mainPresentation section svg path, .mainPresentation section svg circle, .mainContact section svg path, .mainContact section svg circle, .mainRealisation section svg path, .mainRealisation section svg circle {
    stroke-width: 2px;
    fill-opacity: 0;
    fill: none; }
  .mainPresentation section svg circle, .mainContact section svg circle, .mainRealisation section svg circle {
    opacity: 0;
    animation-direction: normal;
    animation: fadeOutAuto 5s linear 2s forwards, draw 5s linear 3s forwards; }
  .mainPresentation section svg > :first-child, .mainContact section svg > :first-child, .mainRealisation section svg > :first-child {
    stroke-dasharray: 4500;
    stroke-dashoffset: 4500;
    animation-direction: normal;
    animation: draw 8s linear forwards; }
  .mainPresentation section svg > :nth-child(2), .mainContact section svg > :nth-child(2), .mainRealisation section svg > :nth-child(2) {
    opacity: 0;
    font-family: "futur";
    font-size: 3rem;
    animation: fadeOutAuto 5s linear 5s forwards; }
  .mainPresentation section svg a, .mainContact section svg a, .mainRealisation section svg a {
    opacity: 0;
    animation: fadeOutAuto 5s linear 5s forwards; }

/*Presentation page*/
.mainPresentation section svg path, .mainPresentation section svg circle, .mainPresentation section svg text {
  stroke: #FE4F00; }
.mainPresentation section svg .languages {
  opacity: 0;
  font-family: "quicksand";
  font-size: 2.5rem;
  animation: fadeOutAuto 5s linear 6s forwards; }
.mainPresentation section svg circle:nth-of-type(1) {
  stroke-dasharray: 453;
  stroke-dashoffset: 453; }
.mainPresentation section svg circle:nth-of-type(2) {
  stroke-dasharray: 396;
  stroke-dashoffset: 396; }
.mainPresentation section svg circle:nth-of-type(3) {
  stroke-dasharray: 340;
  stroke-dashoffset: 340; }
.mainPresentation section svg circle:nth-of-type(4) {
  stroke-dasharray: 283;
  stroke-dashoffset: 283; }
.mainPresentation section svg circle:nth-of-type(5) {
  stroke-dasharray: 283;
  stroke-dashoffset: 283; }
.mainPresentation section svg > path:nth-of-type(2) {
  opacity: 0;
  stroke-dasharray: 1540;
  stroke-dashoffset: 1540;
  animation-direction: normal;
  animation: fadeOutAuto 5s linear 5s forwards, draw 4s linear 8s forwards; }
.mainPresentation section svg > path:nth-of-type(3) {
  opacity: 0;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation-direction: normal;
  animation: fadeOutAuto 5s linear 5s forwards, draw 2s linear 10s forwards; }
.mainPresentation section svg .textTitlePresentation {
  font-size: 3rem; }
.mainPresentation section svg .textPresentation {
  font-size: 2rem;
  text-anchor: start; }
.mainPresentation section svg > :nth-last-child(-n+11) {
  font-family: "poiret";
  opacity: 0;
  animation: fadeOutAuto 5s linear 11s forwards; }

/*Contact page*/
.mainContact section svg path, .mainContact section svg circle, .mainContact section svg text {
  stroke: #FFB41D; }
.mainContact section svg image {
  fill: #FFB41D; }
.mainContact section svg > text:nth-of-type(2), .mainContact section svg > text:nth-of-type(3) {
  font-size: 2rem;
  font-family: "poiret";
  opacity: 0; }
.mainContact section article {
  position: absolute;
  top: 22%;
  left: 32%; }
  @media screen and (max-width: 1600px) {
    .mainContact section article {
      top: 20%; } }
  .mainContact section article form {
    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: fadeOutAuto 5s linear 7s forwards; }
    @media screen and (max-width: 1600px) {
      .mainContact section article form {
        width: 80%; } }
    .mainContact section article form textarea {
      resize: vertical; }
    .mainContact section article form input, .mainContact section article form textarea, .mainContact section article form button, .mainContact section article form label {
      margin: 10px; }
    .mainContact section article form label, .mainContact section article form button {
      color: #FFB41D;
      font-family: "poiret";
      font-size: 2rem; }
    .mainContact section article form input, .mainContact section article form textarea, .mainContact section article form button {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #FFB41D;
      font-family: "poiret";
      font-size: 2rem; }
    .mainContact section article form input, .mainContact section article form textarea {
      color: white; }
    .mainContact section article form button {
      color: #FFB41D;
      padding: 5px; }

/* Realisation page */
.mainRealisation section svg path, .mainRealisation section svg circle, .mainRealisation section svg text {
  stroke: #D9A4FC; }
.mainRealisation section svg text:nth-of-type(2), .mainRealisation section svg text:nth-of-type(3) {
  font-family: "poiret";
  font-size: 2rem; }

/*# sourceMappingURL=style.css.map */
