@charset "UTF-8";
/*Font import*/
@font-face {
  font-family: "futur";
  src: url("../fonts/Clip.eot?") format("eot"), url("../fonts/Clip.woff2") format("woff2"), url("../fonts/Clip.woff") format("woff"), url("../fonts/Clip.ttf") format("truetype"), url("../fonts/Clip.svg#futur") format("svg"); }
@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-Regular.eot?") format("eot"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype"), url("../fonts/Quicksand-Regular.svg#quicksand") format("svg"); }
@font-face {
  font-family: "poiret";
  src: url("../fonts/PoiretOne-Regular.eot?") format("eot"), url("../fonts/PoiretOne-Regular.woff2") format("woff2"), url("../fonts/PoiretOne-Regular.woff") format("woff"), url("../fonts/PoiretOne-Regular.ttf") format("truetype"), url("../fonts/PoiretOne-Regular.svg#poiret") format("svg"); }
/*Color variable*/
/*** Keyframes ***/
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes show {
  0% {
    opacity: 0;
    stroke: #d6c9c9; }
  25% {
    opacity: .2; }
  50% {
    opacity: .5; }
  75% {
    opacity: .8; }
  100% {
    opacity: 0.9;
    stroke: #d6c9c9; } }
@keyframes welcomeFlash {
  0% {
    opacity: .1;
    box-shadow: 0 0 30px #BFB0B0, inset 0 0 30px #BFB0B0;
    text-shadow: 0 0 80px #BFB0B0; }
  4% {
    opacity: 1; }
  8% {
    opacity: .4; }
  12% {
    opacity: .1; }
  16% {
    opacity: .5; }
  20% {
    opacity: 1; }
  24% {
    opacity: .4; }
  28% {
    opacity: .1; }
  32% {
    opacity: .6; }
  36% {
    opacity: 1; }
  40% {
    opacity: .7; }
  44% {
    opacity: .2; }
  48% {
    opacity: .1; }
  52% {
    opacity: .4; }
  56% {
    opacity: .9; }
  60% {
    opacity: .2; }
  64% {
    opacity: 1; }
  68% {
    opacity: .4; }
  72% {
    opacity: .1; }
  76% {
    opacity: .5; }
  80% {
    opacity: .7; }
  84% {
    opacity: .9; }
  88% {
    opacity: .6; }
  92% {
    opacity: .8; }
  96% {
    opacity: .2; }
  100% {
    opacity: 0.9;
    box-shadow: 0 0 30px #BFB0B0, inset 0 0 30px #BFB0B0;
    text-shadow: 0 0 80px #BFB0B0; } }
@keyframes flash {
  0% {
    opacity: .1; }
  4% {
    opacity: 1; }
  8% {
    opacity: .4; }
  12% {
    opacity: .1; }
  16% {
    opacity: .5; }
  20% {
    opacity: 1; }
  24% {
    opacity: .4; }
  28% {
    opacity: .1; }
  32% {
    opacity: .6; }
  36% {
    opacity: 1; }
  40% {
    opacity: .7; }
  44% {
    opacity: .2; }
  48% {
    opacity: .1; }
  52% {
    opacity: .4; }
  56% {
    opacity: .9; }
  60% {
    opacity: .2; }
  64% {
    opacity: 1; }
  68% {
    opacity: .4; }
  72% {
    opacity: .1; }
  76% {
    opacity: .5; }
  80% {
    opacity: .7; }
  84% {
    opacity: .9; }
  88% {
    opacity: .6; }
  92% {
    opacity: .8; }
  96% {
    opacity: .2; }
  100% {
    opacity: 0.9; } }
@keyframes fadeOutAuto {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 0.9; } }
/***** Utilities class *****/
.hidden {
  visibility: hidden; }

/****** G├®n├®ral******/
* {
  box-sizing: border-box;
  transition: all 0.3s linear 0s; }

html {
  font-size: 62.5%; }

body {
  background-image: url("../img/burried.png");
  margin: 0 auto; }

text {
  text-anchor: middle; }

a {
  text-decoration: none; }

/*Welcome Page*/
.mainWelcome section {
  text-align: center;
  width: 45%;
  margin-top: 30vh;
  margin-left: 28vw;
  animation: welcomeFlash 2s linear 5s forwards; }
  @media screen and (max-width: 1025px) {
    .mainWelcome section {
      width: 70%;
      margin-left: 16vw;
      margin-top: 35vh; } }
  .mainWelcome section path {
    stroke: #d6c9c9;
    stroke-width: 2px;
    fill-opacity: 0;
    fill: none;
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    animation-direction: normal;
    animation: draw 5s linear forwards; }
  .mainWelcome section text {
    fill: #16161D;
    font-family: "futur";
    font-size: 4rem;
    animation: show 2s linear 5s forwards; }

/*Home Page*/
.mainHome {
  /*Flex for section*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*Global property for the path SVG*/
  /*Global property for text SVG*/
  /*Presentation Section*/
  /*Realisation Section*/
  /*Project section*/
  /*Contact Section*/ }
  @media screen and (orientation: portrait) {
    .mainHome {
      flex-direction: column; } }
  @media screen and (max-width: 1025px) and (min-width: 640px) and (orientation: landscape) {
    .mainHome {
      margin-top: 10vh; } }
  .mainHome section {
    margin: 30px; }
    @media screen and (max-width: 1025px) and (orientation: portrait) {
      .mainHome section {
        margin-left: 15vw;
        width: 150%; } }
  .mainHome path {
    stroke-width: 2px;
    fill-opacity: 0;
    fill: none;
    stroke-dasharray: 2520;
    stroke-dashoffset: 2520;
    animation-direction: normal;
    animation: draw 5s linear forwards; }
  .mainHome text {
    font-family: "futur";
    font-size: 4rem; }
    @media screen and (min-width: 1025px) {
      .mainHome text {
        fill: #16161D; } }
  .mainHome > :first-child {
    width: 45%; }
    .mainHome > :first-child path {
      stroke: #FE4F00; }
    .mainHome > :first-child > :hover {
      box-shadow: 0 0 30px rgba(255, 146, 97, 0.4), inset 0 0 30px rgba(255, 146, 97, 0.4);
      text-shadow: 0 0 80px rgba(255, 146, 97, 0.4);
      animation: flash 1s linear forwards; }
      .mainHome > :first-child > :hover text {
        fill: #FF9261; }
    @media screen and (max-width: 1025px) {
      .mainHome > :first-child text {
        fill: #FE4F00; } }
  .mainHome > :nth-child(2) {
    width: 45%; }
    .mainHome > :nth-child(2) path {
      stroke: #D9A4FC; }
    .mainHome > :nth-child(2) > :hover {
      box-shadow: 0 0 30px rgba(229, 194, 252, 0.4), inset 0 0 30px rgba(229, 194, 252, 0.4);
      text-shadow: 0 0 50px rgba(229, 194, 252, 0.4);
      animation: flash 1s linear forwards; }
      .mainHome > :nth-child(2) > :hover text {
        fill: #D9A4FC; }
    @media screen and (max-width: 1025px) {
      .mainHome > :nth-child(2) text {
        fill: #D9A4FC; } }
  .mainHome > :nth-child(3) {
    width: 45%; }
    .mainHome > :nth-child(3) path {
      stroke: #FE003E; }
    .mainHome > :nth-child(3) > :hover {
      box-shadow: 0 0 30px rgba(254, 142, 170, 0.4), inset 0 0 30px rgba(254, 142, 170, 0.4);
      text-shadow: 0 0 50px rgba(254, 142, 170, 0.4);
      animation: flash 1s linear forwards; }
      .mainHome > :nth-child(3) > :hover text {
        fill: #FE003E; }
    @media screen and (max-width: 1025px) {
      .mainHome > :nth-child(3) text {
        fill: #FE003E; } }
  .mainHome > :last-child {
    width: 45%; }
    .mainHome > :last-child path {
      stroke: #FFB41D; }
    .mainHome > :last-child > :hover {
      box-shadow: 0 0 30px rgba(255, 202, 94, 0.4), inset 0 0 30px rgba(255, 202, 94, 0.4);
      text-shadow: 0 0 50px rgba(255, 202, 94, 0.4);
      animation: flash 1s linear forwards; }
      .mainHome > :last-child > :hover text {
        fill: #FFB41D; }
    @media screen and (max-width: 1025px) {
      .mainHome > :last-child text {
        fill: #FFB41D; } }

/*Global of Presentation, Contact, Realisation and Project*/
.mainPresentation section, .mainContact section, .mainRealisation section, .mainProject section {
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90%; }
  .mainPresentation section svg path, .mainPresentation section svg circle, .mainContact section svg path, .mainContact section svg circle, .mainRealisation section svg path, .mainRealisation section svg circle, .mainProject section svg path, .mainProject section svg circle {
    stroke-width: 2px;
    fill-opacity: 0.1;
    fill: none; }
  .mainPresentation section svg circle, .mainContact section svg circle, .mainRealisation section svg circle, .mainProject section svg circle {
    opacity: 0;
    animation-direction: normal;
    animation: fadeOutAuto 5s linear 2s forwards, draw 5s linear 3s forwards; }
  .mainPresentation section svg > :first-child, .mainContact section svg > :first-child, .mainRealisation section svg > :first-child, .mainProject section svg > :first-child {
    stroke-dasharray: 4500;
    stroke-dashoffset: 4500;
    animation-direction: normal;
    animation: draw 8s linear forwards; }
  .mainPresentation section svg > :nth-child(2), .mainContact section svg > :nth-child(2), .mainRealisation section svg > :nth-child(2), .mainProject section svg > :nth-child(2) {
    opacity: 0;
    font-family: "futur";
    font-size: 3rem;
    animation: fadeOutAuto 5s linear 5s forwards; }
  .mainPresentation section svg a, .mainContact section svg a, .mainRealisation section svg a, .mainProject section svg a {
    opacity: 0;
    animation: fadeOutAuto 5s linear 5s forwards; }

/*Presentation page*/
.mainPresentation section svg path, .mainPresentation section svg circle, .mainPresentation section svg text {
  stroke: #FE4F00; }
.mainPresentation section svg circle {
  stroke-width: 2px;
  fill-opacity: 0;
  fill: none; }
.mainPresentation section .languages {
  opacity: 0;
  font-family: "quicksand";
  font-size: 3rem;
  animation: fadeOutAuto 5s linear 6s forwards; }
  @media screen and (max-width: 1025px) and (orientation: portrait) {
    .mainPresentation section .languages {
      font-size: 4rem; } }
.mainPresentation section section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }
  @media screen and (max-width: 1025px) {
    .mainPresentation section section {
      flex-wrap: wrap; } }
  .mainPresentation section section .circle {
    width: 15%; }
    @media screen and (max-width: 1025px) {
      .mainPresentation section section .circle {
        width: 20%;
        margin: 20px; } }
    @media screen and (max-width: 650px) {
      .mainPresentation section section .circle {
        width: 40%;
        margin: 10px; } }
    .mainPresentation section section .circle circle {
      opacity: 0;
      animation: draw 3s linear 5s forwards, fadeOutAuto 5s linear 5s forwards; }
  .mainPresentation section section .html circle {
    stroke-dasharray: 754;
    stroke-dashoffset: 754; }
  .mainPresentation section section .css circle {
    stroke-dasharray: 660;
    stroke-dashoffset: 660; }
  .mainPresentation section section .js circle {
    stroke-dasharray: 550;
    stroke-dashoffset: 550; }
  .mainPresentation section section .php circle {
    stroke-dasharray: 480;
    stroke-dashoffset: 480; }
  .mainPresentation section section .sql circle {
    stroke-dasharray: 480;
    stroke-dashoffset: 480; }
.mainPresentation section .text {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-top: 30px;
  border-top: solid 2px #FE4F00;
  opacity: 0;
  animation: fadeOutAuto 5s linear 5s forwards; }
  @media screen and (max-width: 1025px) {
    .mainPresentation section .text {
      flex-direction: column; } }
  .mainPresentation section .text article:nth-of-type(2) {
    border-left: solid 2px #FE4F00;
    border-right: solid 2px #FE4F00; }
    @media screen and (max-width: 1025px) {
      .mainPresentation section .text article:nth-of-type(2) {
        border: none; } }
  .mainPresentation section .text article {
    padding: 50px;
    text-align: center;
    color: #FE4F00;
    width: 30%; }
    @media screen and (max-width: 1025px) {
      .mainPresentation section .text article {
        width: 100%; } }
    .mainPresentation section .text article h2 {
      font-size: 3rem; }
      @media screen and (max-width: 1025px) {
        .mainPresentation section .text article h2 {
          font-size: 2rem; } }
    .mainPresentation section .text article p {
      font-size: 2rem; }
      @media screen and (max-width: 1025px) {
        .mainPresentation section .text article p {
          font-size: 1.6rem; } }

/*Contact page*/
.mainContact section svg path, .mainContact section svg circle, .mainContact section svg text {
  stroke: #FFB41D; }
.mainContact section svg image {
  fill: #FFB41D; }
.mainContact section svg > text:nth-of-type(2), .mainContact section svg > text:nth-of-type(3) {
  font-size: 2rem;
  font-family: "poiret";
  opacity: 0; }
.mainContact section article {
  text-align: center; }
  .mainContact section article p {
    font-family: "poiret";
    font-size: 2rem;
    color: #FFB41D; }
  .mainContact section article form {
    margin-top: 5vh;
    margin-left: 14vw;
    width: 70%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: fadeOutAuto 5s linear 5s forwards; }
    @media screen and (max-width: 1024px) {
      .mainContact section article form {
        margin-left: 11vw; } }
    .mainContact section article form textarea {
      resize: vertical; }
    .mainContact section article form input, .mainContact section article form textarea, .mainContact section article form button, .mainContact section article form label {
      margin: 10px; }
    .mainContact section article form label, .mainContact section article form button {
      color: #FFB41D;
      font-family: "poiret";
      font-size: 2rem; }
    .mainContact section article form input, .mainContact section article form textarea, .mainContact section article form button {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #FFB41D;
      font-family: "poiret";
      font-size: 2rem; }
    .mainContact section article form input, .mainContact section article form textarea {
      color: white; }
    .mainContact section article form button {
      color: #FFB41D;
      padding: 5px; }

/* Realisation page */
.mainRealisation :first-child svg path, .mainRealisation :first-child svg circle, .mainRealisation :first-child svg text {
  stroke: #D9A4FC; }
.mainRealisation :first-child svg a:nth-of-type(2), .mainRealisation :first-child svg a:nth-of-type(3) {
  opacity: 0;
  font-family: "poiret";
  font-size: 2rem;
  animation: fadeOutAuto 5s linear 5s forwards; }
.mainRealisation :last-child p {
  font-family: "poiret";
  font-size: 2rem;
  color: #D9A4FC;
  opacity: 0;
  animation: fadeOutAuto 2s linear 1s forwards; }
  @media screen and (max-width: 1025px) {
    .mainRealisation :last-child p {
      font-size: 1.6rem; } }
.mainRealisation :last-child article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed #D9A4FC;
  padding: 10px;
  opacity: 0;
  animation: fadeOutAuto 3s linear 1s forwards; }
  @media screen and (max-width: 640px) {
    .mainRealisation :last-child article {
      flex-direction: column; } }
  .mainRealisation :last-child article img {
    width: 50%; }

/* Project Page */
.mainProject section svg path, .mainProject section svg circle, .mainProject section svg text {
  stroke: #FE003E; }
.mainProject section svg a:nth-of-type(2), .mainProject section svg a:nth-of-type(3) {
  opacity: 0;
  font-family: "poiret";
  font-size: 2rem;
  animation: fadeOutAuto 5s linear 5s forwards; }
.mainProject :last-child p {
  font-family: "poiret";
  font-size: 2rem;
  color: #FE003E;
  opacity: 0;
  animation: fadeOutAuto 3s linear 1s forwards; }

/******************* Admin ***********************/
.mainAdmin label, .mainAdmin input:nth-of-type(3) {
  color: #D9A4FC; }
.mainAdmin li {
  color: #FFB41D;
  font-size: 1.5rem;
  list-style-type: none; }

/*# sourceMappingURL=style.css.map */
