<section class="mainContact">
        <section>
                <svg viewBox="0 0 1740 900" preserveAspectRatio="xMinyMin meet">
                        <path d="M 1740,0 L 1740,900 L 0,900 L 0,70 L 968,70 L 988,45"/>
                        <text x="910" y="50">Contact</text>
                        <a href="#" id="returnHome">
                                <circle cx="1700" cy="40" r="20" transform="rotate(-90 1700 40)"/>
                                <path d="M 1700,30 L 1700,50" transform="rotate(45 1700 40)"/>
                                <path d="M 1690,40 L 1710,40" transform="rotate(45 1700 40)"/>
                        </a>
                        <a href="#" id="discord">
                                <image href="ressources/style/img/discord.svg" alt="Logo Discord" x="100" y="150" width="150" height="150"/>
                        </a>
                        <text class="copyText" x="175" y="340">NameTag copié dans</text>
                        <text class="copyText" x="175" y="370">le clipboard</text>
                        <a href="https://github.com/Okusama" target="_blank">
                                <image href="ressources/style/img/github.svg" alt="Logo GitHub" x="1540" y="150" width="125" height="125"/>
                        </a>
                        <a href="https://twitter.com/Okus4m4" target="_blank">
                                <image href="ressources/style/img/twitter.svg" alt="Logo Twitter" x="100" y="700" width="160" height="160"/>
                        </a>
                        <a href="https://www.linkedin.com/in/david-naud-21a2a8146/" target="_blank">
                                <image href="ressources/style/img/linkedin.svg" alt="Logo LinkedIN" x="1540" y="700" width="125" height="125"/>
                        </a>
                </svg>
                <article>
                        <form id="formContact" action="#" method="post">
                                <label for="name">Nom - Prénom:</label>
                                <input type="text" name="name">
                                <label for="mail">Mail:</label>
                                <input type="text" name="mail">
                                <label for="object">Objet:</label>
                                <input type="text" name="object">
                                <label for="message">Message:</label>
                                <textarea cols="80" name="message" maxlength="2000"></textarea>
                                <button type="submit" name="send">Envoyer</button>
                        </form>
                </article>
        </section>
</section>
