<section class="mainHome">
        <a href="javascript:void(0)" id="presentation">
                <section>
                                <svg  viewBox="0 0 840 420" preserveAspectRatio="xMinyMin meet">
                                        <desc>Présentation de mon profil</desc>
                                        <path d="M 840,420 L 840,0 L 0,0 L 0,420 L 840,420"/>
                                        <text x="440" y ="210">Presentation</text>
                                </svg>
                </section>
        </a>
        <a href="javascript:void(0)" id="realisation">
                <section>
                                <svg viewBox="0 0 840 420" preserveAspectRatio="xMinyMin meet">
                                        <desc>Voir mes réalisations</desc>
                                        <path d="M 0,420 L 0,0 L 840,0 L 840,420 L 0,420"/>
                                        <text x="440" y ="210">Realisation</text>
                                </svg>
                </section>
        </a>
        <a href="javascript:void(0)" id="projects">
                <section>
                                <svg viewBox="0 0 840 420" preserveAspectRatio="xMinyMin meet">
                                        <desc>Voir mes projets</desc>
                                        <path d="M 840,0 L 840,420 L 0,420 L 0,0 L 840,0"/>
                                        <text x="440" y ="210">Projets</text>
                                </svg>
                </section>
        </a>
        <a href="javascript:void(0)" id="contact">
                <section>
                                <svg viewBox="0 0 840 420" preserveAspectRatio="xMinyMin meet">
                                        <desc>Me suivre sur Twitter/GitHub/Linkdin ou me laisser un message</desc>
                                        <path d="M 0,0 L 0,420 L 840,420 L 840,0 L 0,0"/>
                                        <text x="440" y ="210">Contact</text>
                                </svg>
                </section>
        </a>
</section>
