<section class="mainPresentation">
        <section>
                <svg viewBox="0 0 1740 900" preserveAspectRatio="xMinyMin meet">
                        <path d="M 1740,0 L 1740,900 L 0,900 L 0,70 L 968,70 L 988,45"/>
                        <text x="870" y="50">Compétences</text>
                        <a href="#" id="returnHome">
                                <circle cx="1700" cy="40" r="20" transform="rotate(-90 1700 40)"/>
                                <path d="M 1700,30 L 1700,50" transform="rotate(45 1700 40)"/>
                                <path d="M 1690,40 L 1710,40" transform="rotate(45 1700 40)"/>
                        </a>
                        <circle cx="275" cy="225" r="90" transform="rotate(-90 275 225)"/>
                        <text class="languages" x="275" y="200">HTML</text>
                        <text class="languages" x="275" y="250">80%</text>
                        <circle cx="575" cy="225" r="90" transform="rotate(-90 575 225)"/>
                        <text class="languages" x="575" y="200">CSS</text>
                        <text class="languages" x="575" y="250">70%</text>
                        <circle cx="875" cy="225" r="90" transform="rotate(-90 875 225)"/>
                        <text class="languages" x="875" y="200">JS</text>
                        <text class="languages" x="875" y="250">60%</text>
                        <circle cx="1175" cy="225" r="90" transform="rotate(-90 1175 225)"/>
                        <text class="languages" x="1175" y="200">PHP</text>
                        <text class="languages" x="1175" y="250">50%</text>
                        <circle cx="1475" cy="225" r="90" transform="rotate(-90 1475 225)"/>
                        <text class="languages" x="1475" y="200">SQL</text>
                        <text class="languages" x="1475" y="250">50%</text>
                        <path d="M 100,375 L 1640,375"/>
                        <path d="M 870,425 L 870,875"/>
                        <text class="textTitlePresentation" x="410" y="490">Autres compétences en cours d'acquisition</text>
                        <text class="textPresentation" x="100" y="540">SASS, SVG, Angular</text>
                        <text class="textTitlePresentation" x="410" y="640">Parcours professionel</text>
                        <text class="textPresentation" x="100" y="690">Cuisinier durant 11 ans</text>
                        <text class="textPresentation" x="100" y="730">Formation 3W Academy Intégrateur & Développeur d'application Web</text>
                        <text class="textPresentation" x="100" y="770">Pour plus d'information voir mon CV ici</text>
                        <text class="textTitlePresentation" x="1250" y="490">Qui suis je ?</text>
                        <text class="textPresentation" x="930" y="560">Passionné d'informatique et débutant en 2017(pour les gens du futur) dans</text>
                        <text class="textPresentation" x="930" y="600">le Web, mais aussi de Jeux-Vidéo et particulièrement du Speedrun.</text>
                        <text class="textPresentation" x="930" y="640">Je souhaite perdurer dans cette nouvelle voie je suis donc,</text>
                        <text class="textPresentation" x="930" y="680">à votre disposition pour réaliser vos projets web</text>
                </svg>
        </section>
</section>
