<section class="mainPresentation">
        <section>
                <svg viewBox="0 0 1740 150" preserveAspectRatio="xMinyMin meet">
			<path d="M 1740,0 L 1740,150 L 0,150 L 0,70 L 990,70 L 1010,45"/>
                        <text x="895" y="50">Présentation</text>
                        <a href="#" id="returnHome">
                                <g>
                                        <circle cx="1700" cy="40" r="20" transform="rotate(-90 1700 40)"/>
                                        <path d="M 1700,30 L 1700,50" transform="rotate(45 1700 40)"/>
                                        <path d="M 1690,40 L 1710,40" transform="rotate(45 1700 40)"/>
                                </g>
                        </a>
                </svg>
                <section>
                        <svg class="html circle" viewBox="0 0 320 320" preserveAspectRatio="xMinyMin meet">
                                <circle cx="160" cy="160" r="150" transform="rotate(-90 160 160)"/>
                                <text class="languages" x="160" y="130">HTML</text>
                                <text class="languages" x="160" y="170">80%</text>
                        </svg>
                        <svg class="css circle" viewBox="0 0 320 320" preserveAspectRatio="xMinyMin meet">
                                <circle cx="160" cy="160" r="150" transform="rotate(-90 160 160)"/>
                                <text class="languages" x="160" y="130">CSS</text>
                                <text class="languages" x="160" y="170">70%</text>
                        </svg>
                        <svg class="js circle" viewBox="0 0 320 320" preserveAspectRatio="xMinyMin meet">
                                <circle cx="160" cy="160" r="150" transform="rotate(-90 160 160)"/>
                                <text class="languages" x="160" y="130">JS</text>
                                <text class="languages" x="160" y="170">60%</text>
                        </svg>
                        <svg class="php circle" viewBox="0 0 320 320" preserveAspectRatio="xMinyMin meet">
                                <circle cx="160" cy="160" r="150" transform="rotate(-90 160 160)"/>
                                <text class="languages" x="160" y="130">PHP</text>
                                <text class="languages" x="160" y="170">50%</text>
                        </svg>
                        <svg class="sql circle" viewBox="0 0 320 320" preserveAspectRatio="xMinyMin meet">
                                <circle cx="160" cy="160" r="150" transform="rotate(-90 160 160)"/>
                                <text class="languages" x="160" y="130">SQL</text>
                                <text class="languages" x="160" y="170">50%</text>
                        </svg>
                </section>
                <section class="text">
                        <article>
                                <h2>Autres compétences en cours d'acquisition</h2>
                                <p>SASS, SVG, Angular, Symfony</p>
                        </article>
                        <article>
                                <h2>Parcours professionel</h2>
                                <p>Cuisinier durant 11 ans</p>
                                <p>Formation 3W Academy Intégrateur & Développeur d'application Web</p>
                                <p>Pour plus d'information voir mon CV ici</p>
                        </article>
                        <article>
                                <h2>Qui suis je ?</h2>
                                <p>Passionné d'informatique et débutant en 2017(pour les gens du futur) dans le Web, mais aussi de Jeux-Vidéo et particulièrement du Speedrun. Je souhaite perdurer dans cette nouvelle voie je suis donc, à votre disposition pour réaliser vos projets web</p>
                        </article>
                </section>
        </section>
</section>
