<svg viewBox="0 0 1740 2200" preserveAspectRatio="xMinyMin meet">
        <path d="M 1740,0 L 1740,150 L 0,150 L 0,70 L 1028,70 L 1048,35"/>
        <text x="870" y="50">Réalisation</text>
        <a href="javascript:void(0)" id="returnHome">
                <circle cx="1690" cy="40" r="30" transform="rotate(-90 1690 40)"/>
                <path d="M 1690,25 L 1690,55" transform="rotate(45 1690 40)"/>
                <path d="M 1675,40 L 1705,40" transform="rotate(45 1690 40)"/>
        </a>
        <a href="javascript:void(0)" id="persoRealisation">
                <text x="100" y="115">Perso</text>
                <path d="M 70,125 L 120,125 L 130,110"/>
        </a>
        <a href="javascript:void(0)" id="coRealisation">
                <text x="300" y="115">Colaboration</text>
                <path class="hidden" d="M 240,125 L 355,125 L 365,110"/>
        </a>
        <desc>Vue des mes réalisation perso et en collaboration</desc>
</svg>
