<section class="mainPresentation">
        <section>
                <svg viewBox="0 0 1740 2200" preserveAspectRatio="xMinyMin meet">
                        <path d="M 1740,0 L 1740,2200 L 0,2200 L 0,70 L 1028,70 L 1048,35"/>
                        <text x="870" y="50">Compétences</text>
                        <a href="#" id="returnHome">
                                <circle cx="1690" cy="40" r="30" transform="rotate(-90 1690 40)"/>
                                <path d="M 1690,25 L 1690,55" transform="rotate(45 1690 40)"/>
                                <path d="M 1675,40 L 1705,40" transform="rotate(45 1690 40)"/>
                        </a>
                        <circle cx="595" cy="300" r="150" transform="rotate(-90 595 300)"/>
                        <text class="languages" x="595" y="280">HTML</text>
                        <text class="languages" x="595" y="320">80%</text>
                        <circle cx="1155" cy="300" r="150" transform="rotate(-90 1155 300)"/>
                        <text class="languages" x="1155" y="280">CSS</text>
                        <text class="languages" x="1155" y="320">70%</text>
                        <circle cx="315" cy="590" r="150" transform="rotate(-90 315 590)"/>
                        <text class="languages" x="315" y="570">JS</text>
                        <text class="languages" x="315" y="610">60%</text>
                        <circle cx="870" cy="590" r="150" transform="rotate(-90 870 590)"/>
                        <text class="languages" x="870" y="570">PHP</text>
                        <text class="languages" x="870" y="610">50%</text>
                        <circle cx="1425" cy="590" r="150" transform="rotate(-90 1425 590)"/>
                        <text class="languages" x="1425" y="570">SQL</text>
                        <text class="languages" x="1425" y="610">50%</text>
                        <path d="M 100,850 L 1640,850"/>
                        <path d="M 100,1560 L 1640,1560"/>
                        <text class="textTitlePresentation" x="870" y="950">Autres compétences en cours d'acquisition</text>
                        <text class="textPresentation" x="870" y="1010">SASS, SVG, Angular, Symfony</text>
                        <text class="textTitlePresentation" x="870" y="1210">Parcours professionel</text>
                        <text class="textPresentation" x="870" y="1300">Cuisinier durant 11 ans</text>
                        <text class="textPresentation" x="870" y="1360">Formation 3W Academy Intégrateur & Développeur d'application Web</text>
                        <text class="textPresentation" x="870" y="1410">Pour plus d'information voir mon CV ici</text>
                        <text class="textTitlePresentation" x="870" y="1740">Qui suis je ?</text>
                        <text class="textPresentation" x="870" y="1820">Passionné d'informatique et débutant en 2017(pour les gens du futur) dans</text>
                        <text class="textPresentation" x="870" y="1880">le Web, mais aussi de Jeux-Vidéo et particulièrement du Speedrun.</text>
                        <text class="textPresentation" x="870" y="1940">Je souhaite perdurer dans cette nouvelle voie je suis donc,</text>
                        <text class="textPresentation" x="870" y="2000">à votre disposition pour réaliser vos projets web</text>
                </svg>
        </section>
</section>
